body {
	background-color: #f4f4e7;
	font-family: 'Droid Serif', serif;
}

body header {
	background-color: #f4f4d2;
}

.vak {
	background-color: #f4f4d2;
	padding: 0px;
}

#grbar {
	width 100%;
	height: 3px;
	background-image: linear-gradient(to top,rgba(123, 124, 126, 0) 0,rgba(123, 124, 126, 0.8) 100%);
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #177046;  /*Sets the text hover color on navbar*/
  background-color: #e3e274;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #177046; /*BACKGROUND color for active*/
  background-color: #e3e274;
}

.navbar-default {
  background-color: #f4f4d2;
  border-color: #f4f4d2;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #177046;
  text-decoration: none;
  background-color: #e3e274;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #e3e274; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
 color: #1c8b57; /*Change active text color here*/
}

.navbar-nav>li>.dropdown-menu {
 background-color: #f4f4d2;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
 background-color: #e3e274;
}



.jumbotron {
 background-color: #f4f4e7;
 padding : 0px;
}
.carousel-control.right {
 background-image: linear-gradient(to right,rgba(244, 244, 210, 0) 0,rgba(244,244,210,1) 100%);
}

.carousel-control.left {
 background-image: linear-gradient(to right,rgba(244, 244, 210, 1) 0,rgba(244,244,210,0) 100%);
}

.smallimgslider {
 border: 2px solid #e3e274;
 border-radius: 4px;
 margin-top: 17px;
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: #f4f4d2;
}

.smallimgslider .thumbnail {
 margin-bottom: 0px;
}

#Nieuwefotos_banner {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.MainContent {
  margin-top: 15px;
}

.LinkerColom {
  padding: 0px;
}

.LinkerColom #Nieuwefotos_banner {
  margin-top: 0px;
}

.LinkerColom table tr td {
  min-width: 100px;
  vertical-align: top;
  padding-top: 10px;
}

.LinkerColom img {
  margin-left: 10px;
}

.LinkerColom .meerBerichten {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.titelbalkBerichten {
  height: 25px;
  background-color: #e3e274;
  width: 100%;
  text-align: center;
  padding-top: 2px;
}

  .Agenda {
    margin-top: 20px;
   border: 2px solid #e3e274;
   border-radius: 4px;
   padding: 5px;
   background-color: #f4f4d2;
 }

 .Agenda .titelbalkBerichten {
  padding-left: 0px;
  text-align: center;
}

.AgendaItemBar {
  height: 4px;
  background-image: linear-gradient(to top,rgba(139, 139, 105, 1) 0,rgba(139, 139, 105, 0) 100%);
}

.AgendaTitel {
  font-weight: bold;
}

.TweetTweet {
   border: 2px solid #e3e274;
   border-radius: 4px;
   padding: 5px;
   background-color: #f4f4d2;
}

 .TweetTweet .titelbalkBerichten {
  padding-left: 0px;
  text-align: center;
}

.TweetTweetItems {
  height: 300px;
  overflow-y: scroll;

}

.Tweettweetbar {
  height: 6px;
  background-image: linear-gradient(to top,rgba(139, 139, 105, 1) 0,rgba(139, 139, 105, 0) 100%);
}

.tweetinput {
  width: 100%;
}

footer .vak{
  height: 200px;
}

footer .vak a{
  margin-top: 10px;
text-align: center;
font-size: 16px;
}

/* management page css */


.managementthump {
  margin-top: 10px;
  background-color: #f4f4d2;

}

.managementberichten table tr td{
  min-width: 100px;
  

}




@media screen and (min-width: 991px) { 

  #bs-example-navbar-collapse-1 {
  	margin-top: 75px
  }


  .LinkerColom {
    padding: 0px;
  }

  .LinkerColom #Nieuwefotos_banner {
    margin-top: 0px;
  }

  .LinkerColom img {
    margin-left: 0px;
    margin-right: 0px;
  }

  .LinkerColom .BerichtFoto {
    min-width: 75px;
  }

  .titelbalkBerichten {
    width: 100%;
    text-align: left;
    padding-left: 100px;
  }


}